In [25]:
#importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
from math import sqrt

In [3]:
data = pd.read_csv('Data review - Sheet1.csv')

In [4]:
data

,Unnamed: 0,DEPTH (FT AH),SG (Oil Gravity) @ 60/60F,API,"Viscosity @ SC, cSt","Temp (deg F, res)","Viscosity @ RC, cp",Pressure,"Uob, cp","Uo, cp"
0,NaN,6989,0.95,17.8,121.00,126,13.0,2890,14.0,14.0
1,NaN,6989,0.95,17.8,112.60,126,13.0,2890,14.0,14.0
2,NaN,6989,0.95,18.3,127.30,126,14.0,2890,15.0,15.0
3,NaN,6994,0.95,18.0,114.60,126,13.0,2890,14.0,14.0
4,NaN,6994,0.95,17.9,113.90,126,13.0,2890,14.0,14.0
...,...,...,...,...,...,...,...,...,...,...
357,NaN,9820,0.91,23.3,17.32,171,5.1,4200,11.0,25.0
358,NaN,9820,0.92,22.5,20.04,171,5.9,4200,12.0,28.0
359,NaN,10544,0.82,40.2,2.82,191,0.9,4500,2.1,6.7
360,NaN,10135,0.83,38.9,2.86,191,0.9,4500,1.0,1.2
361,NaN,10551,0.83,39.2,8.94,191,0.9,4500,2.0,12.8

In [8]:
data.columns

Index(['Unnamed: 0', 'DEPTH (FT AH)', 'SG (Oil Gravity) @ 60/60F', 'API',
       'Viscosity @ SC, cSt', 'Temp (deg F, res)', 'Viscosity @ RC, cp',
       'Pressure', 'Uob, cp', 'Uo, cp'],
      dtype='object')

In [10]:
data = data.drop(['Unnamed: 0', 'Uo, cp'], axis = 1)

In [11]:
data

,DEPTH (FT AH),SG (Oil Gravity) @ 60/60F,API,"Viscosity @ SC, cSt","Temp (deg F, res)","Viscosity @ RC, cp",Pressure,"Uob, cp"
0,6989,0.95,17.8,121.00,126,13.0,2890,14.0
1,6989,0.95,17.8,112.60,126,13.0,2890,14.0
2,6989,0.95,18.3,127.30,126,14.0,2890,15.0
3,6994,0.95,18.0,114.60,126,13.0,2890,14.0
4,6994,0.95,17.9,113.90,126,13.0,2890,14.0
...,...,...,...,...,...,...,...,...
357,9820,0.91,23.3,17.32,171,5.1,4200,11.0
358,9820,0.92,22.5,20.04,171,5.9,4200,12.0
359,10544,0.82,40.2,2.82,191,0.9,4500,2.1
360,10135,0.83,38.9,2.86,191,0.9,4500,1.0
361,10551,0.83,39.2,8.94,191,0.9,4500,2.0

In [13]:
#now to find the original eror between Prof's method and machine learning method
error_pre =  mean_squared_error(data["Uob, cp"].values, data["Viscosity @ RC, cp"].values)
error_pre

44.25302099447514

In [27]:
#make a copy of the data, rewrite a Gradient boosting algorithm using Grid search and get the 
#results and use it to do machine learning 
dataset = data.copy()
dataset = dataset.drop("Viscosity @ RC, cp", axis = 1)
y = dataset["Uob, cp"].values
X = dataset.drop('Uob, cp', axis = 1).values
X.shape

(362, 6)

In [33]:
estimator  = GradientBoostingRegressor(n_estimators = 120, random_state= 42)
params  = {'n_estimators': np.arange(40, 300, 10), "learning_rate": np.arange(0.01, 0.1, 0.01), "max_depth" : [2, 3, 4, 5, 6, 7, 8, 9], "min_samples_leaf": np.arange(1, 10), "max_features": [2, 3, 0.5, 'auto','sqrt', 'log2', None]}

In [34]:
gridsearch = GridSearchCV(estimator=estimator, cv=5, param_grid = params, n_jobs = -1, scoring= "neg_mean_squared_error")
gridsearch.fit(X, y)

GridSearchCV(cv=5, error_score=nan,
             estimator=GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0,
                                                 criterion='friedman_mse',
                                                 init=None, learning_rate=0.1,
                                                 loss='ls', max_depth=3,
                                                 max_features=None,
                                                 max_leaf_nodes=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=120,
                                                 n_iter_n...
                         'max_depth': [2, 3, 4, 5, 6, 7, 8, 9],
                         'max_features': [2, 3, 0.5, 'auto', 'sqrt', 'log2',
                                          None],
                         'min_samples_leaf': array([1, 2, 3, 4, 5, 6, 7, 8, 9]),
                         'n_estimators': array([ 40,  50,  60,  70,  80,  90, 100, 110, 120, 130, 140, 150, 160,
       170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=0)

In [35]:
gridsearch.best_params_

{'learning_rate': 0.060000000000000005,
 'max_depth': 3,
 'max_features': 3,
 'min_samples_leaf': 3,
 'n_estimators': 290}

In [37]:
mean_squared_error(y, gridsearch.predict(X))

0.1266669995766966

In [38]:
gridsearch.predict(X)

array([14.31570935, 13.67934455, 14.989855  , 13.82979202, 13.82979202,
       16.32850455, 11.5275945 , 14.98280909, 14.25134782, 13.71734709,
       16.39094909, 20.14323595, 17.92373567, 20.97256562, 19.70512189,
       27.59802207, 21.44813974, 33.29511178, 21.43306988, 27.37090144,
       28.96725156, 28.44720414, 27.32053805, 26.0620343 , 28.64641993,
       30.41181845, 30.90815054, 26.74487995, 27.13227382, 22.44103327,
       22.49849717, 22.19179741, 23.55573122, 25.72538079, 25.69723157,
       29.61047179, 17.31205374, 18.30653222, 18.4276121 ,  2.84258674,
        3.08279661,  1.96943993,  2.57444684,  2.49462096,  2.88282083,
        2.88282083,  2.71038647,  2.97641206,  3.43003243,  3.61722771,
        3.66741164,  3.50617908,  3.48805455,  1.39219064,  1.32037921,
        1.31415689,  1.33314418,  1.33314418,  1.33660407,  1.33314418,
        1.34625998,  1.33314418,  1.33314418,  1.33314418,  1.33314418,
        1.33314418,  1.1878935 ,  1.40113885,  1.32037921,  1.38235297,
        1.33314418,  1.33314418,  1.33314418,  0.89777269,  1.02490531,
        1.80642163, 14.5764284 , 12.15404996, 10.4411213 , 13.97612583,
       14.59020534, 27.69789425, 24.83221782, 30.5814324 , 28.17920011,
       28.96725156, 28.67222673, 31.1142122 , 21.29227956, 21.84256804,
       19.76230702, 26.66984461, 31.99056324, 29.75891127, 20.26398324,
       19.91817761, 19.93444353, 21.92714608, 20.45195665, 19.57853466,
       19.33574182, 21.11099179, 20.94745113,  2.50527132,  2.26934545,
        2.0361957 ,  2.19861882,  1.24938039,  1.10990924,  1.19918871,
        1.15678466,  1.33349501,  1.16916291,  1.15566221,  1.31415689,
        1.86732061,  1.26841023,  1.26841023,  1.36230442,  1.24325856,
        1.24938039,  1.17896049,  1.17896049,  1.17896049,  1.09320665,
        1.11555994,  0.42518505,  0.5223845 ,  0.70108558, 14.90368234,
       11.6614781 , 14.56305771, 10.71774791, 38.06477425, 37.75386605,
       31.64343684, 38.06477425, 53.31018532, 45.32028034, 45.13150205,
       54.7082982 , 57.31056243, 15.22619707, 18.51345459, 22.48815657,
       22.41650445,  0.39329311,  4.47506351,  4.48289994,  4.4163126 ,
        4.33724731,  4.6373909 ,  4.33724731,  4.48289994,  4.48289994,
        4.48289994,  4.4163126 ,  4.4163126 ,  4.48289994,  4.4163126 ,
        4.43438667,  4.50097401,  4.24522874,  4.56258215,  5.02408199,
       10.20535781, 10.82882719, 10.72923316,  1.38284626,  1.29526979,
        1.31944571,  1.2372394 ,  1.28589925,  1.21211757,  1.31929164,
        1.54590025,  1.3089802 ,  1.43233038,  1.33315613,  1.40114667,
        1.33315613,  1.45708449,  1.23411699,  1.10097413,  1.42599766,
        1.40665955,  1.64616815,  1.65721189,  1.50418493,  1.50372642,
        1.6546068 ,  1.6500168 ,  1.65721189,  1.51616967,  1.61904266,
        1.6500168 ,  1.72520657,  7.70382201,  1.65721189,  1.63433334,
        1.55827799,  1.65721189,  8.75930654,  7.83738079,  8.07941581,
        8.07941581,  8.82360331,  8.76763706,  7.82134637,  8.71399331,
        7.78016849,  7.08018401,  8.7238186 ,  8.80949047,  8.549653  ,
        7.38389212,  5.53821832,  5.98004236,  6.03368611,  5.00153365,
        4.98508739,  3.58569359,  5.02827674,  5.34722938,  4.60456305,
        4.60456305,  5.00153365,  5.00153365,  5.39252019, 14.03745916,
       12.41196499, 14.92115238, 13.93106433, 12.94520725, 13.40941888,
       13.96686353, 12.96991522, 15.58320254, 13.96686353, 13.96686353,
       14.93275542, 13.99352893, 12.63402336, 13.47170874, 12.99422366,
       15.85379808, 14.09072847, 13.97642219, 14.06102286, 13.97642219,
       14.03745916, 13.93017984, 11.93153232, 13.92315288, 13.93106433,
       13.96256383, 13.96256383, 13.96183252, 13.90819695, 12.98377358,
       13.92315288, 13.87742876, 12.98377358, 14.06102286, 13.92315288,
       14.74405746, 13.92315288, 13.96686353, 15.7238862 , 12.96991522,
       13.96256383, 14.0471645 , 13.96256383, 13.96256383, 14.91889705,
       13.96183252, 13.90819695, 13.90819695, 13.40941888, 13.86951731,
       14.87606693, 14.82949777, 12.49656565, 14.87650858, 13.92315288,
       16.17769311, 14.00775354, 14.00775354, 12.09333825, 14.8723279 ,
       15.77005084, 13.96256383, 13.37446919, 14.91589187, 14.91589187,
       14.93275542, 14.84815475, 13.96686353, 14.87002377, 14.02752607,
       11.19560974,  1.38302125, 12.40612727, 15.86681885,  1.91571079,
        1.03999277,  1.03999277,  0.99123738,  0.99123738,  1.01437652,
        1.03999277,  1.03999277,  0.63493779,  1.07162056,  1.23209623,
        1.03999277,  1.03999277,  1.03999277,  1.03999277,  0.98093872,
        0.95554082,  1.19820207,  1.27122069,  1.25692137,  1.22710529,
        1.22710529,  1.25692137,  1.25692137,  1.17280235,  1.20871727,
        1.50089874,  1.31929164,  1.28792025,  1.23599938,  1.30558122,
        1.38284626,  1.22529674,  1.22498735,  1.25598623,  1.24523207,
        1.23971615,  1.42709477, 12.73613874, 12.10037959, 12.98377358,
       11.96328162, 12.98377358, 12.99740683, 12.02102535, 11.9562364 ,
       10.37960618,  8.54053193, 12.03636853,  9.16003898, 17.67954661,
       11.22181208,  9.18393108, 11.22375552, 12.03636853,  2.04661283,
        1.28859157,  2.30933239])